<nav class="navbar navbar-expand-lg navbar-light bg-light conta">
    <div class="container">
        <a class="navbar-brand" href="/home">
            <img src="https://yt3.googleusercontent.com/ytc/AL5GRJVn_AzOQqSv4jYgAVwx3R5bpo_nGQF9njLqFUl1=s900-c-k-c0x00ffffff-no-rj" width="30" height="30" class="d-inline-block align-top" alt="">
            Hackbook
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home/iniID/profile">Profile</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>